<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pepe.githubstudy">

    <!--网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_github_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="login"
                    android:scheme="openhub" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />


        <activity android:name=".ui.activity.AboutActivity" android:label="@string/about"/>
        <activity android:name=".ui.activity.SettingsActivity" android:label="@string/settings"/>
        <activity android:name=".ui.activity.SearchActivity" android:label="@string/settings"/>
        <activity android:name=".ui.activity.ProfileActivity" android:label="@string/profile"/>
        <activity android:name=".ui.activity.IssuesActivity" android:label="@string/issue"/>
        <activity android:name=".ui.activity.RepositoryActivity" android:label="@string/repository"/>
        <activity android:name=".ui.activity.ReleasesActivity" android:label="@string/release"/>
        <activity android:name=".ui.activity.NotificationsActivity" android:label="@string/notifications"/>
        <activity android:name=".ui.activity.CommitDetailActivity" android:label="@string/commit"/>
        <activity android:name=".ui.activity.CommitsListActivity" android:label="@string/commits_list"/>
        <activity android:name=".ui.activity.TrendingActivity" />

    </application>

</manifest>